.sf-menu,.sf-menu *{
    margin:0;
    padding:0;
    list-style:none
}
.sf-menu li{
    position:relative
}
.sf-menu ul{
    position:absolute;
    display:none;
    top:100%;
    left:0;
    z-index:99
}
.sf-menu>li{
    float:left
}
.sf-menu li:hover>ul,.sf-menu li.sfHover>ul{
    display:block
}
.sf-menu a{
    display:block;
    position:relative
}
.sf-menu ul ul{
    top:0;
    left:100%
}
.menu ul{
    margin: 30px;
    padding:0;
    list-style:none
}
.menu ul li{
    position:relative
}
.menu ul ul{
    position:absolute;
    display:none;
    top: 92%;
    left:0;
    z-index:100;
    width:230px;
    background-color:#FFF
}
@media (max-width:600px){
    .menu ul ul :last-child{margin:0}
}
.menu>ul li{
    float:left;
    background-color:#FFF
}
.menu ul li:hover>ul{
    display:block
}
.menu ul a{
    display:block;
    position:relative
}
.menu ul ul ul{
    top:0;
    left:100%
}
.menu ul a{
    text-decoration:none;
    font-size:12.4px
}
.menu ul>li>a{
    color: #f40000;
    font-weight:800;
    line-height:20px;
    overflow:hidden;
    text-transform:uppercase;
    border-radius:20px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    letter-spacing:10;
    height:10px;
    text-decoration:none;
    list-style:none
}
.menu ul>li>a:hover{
    color:#FFF
}
#current {
    color:#FFF;
    padding: 20px;
    background-color: #f40000;
}
.menu ul>li a:hover{
    color:#FFF;
    background-color:#f40000;
    /* padding: 20px; */
}
#current:after{
    bottom:-2.5px;
    left:50%;
    display:block;
    height:5px;
    margin:0 0 0 -2.5px;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
    position:absolute;
    width:5px
}
.ie8 #current:after{
    display:none
}
.menu ul ul li{
    background-color:#000;
    margin:0;
    padding:0;
    width:100%
}
.menu ul ul li a{
    height:30px;
    width:100%;
    color:#FFF;
    background-color:#000;
    border-top-left-radius:0;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
    margin-top:.5px;
    font-size:13.5px;
    font-weight:bolder;
    line-height:18px;
    padding:9.5px 12px;
    border:0;
    text-align:left;
    text-transform:none;
    display:block
}
.menu ul ul li{
    background-color:#000;
    border-top:1px solid #FFF
}
.menu ul ul .sf-sub-indicator .icon-chevron-down{
    display:none
}
@media (min-width:768px) and (max-width:979px){
    .menu ul ul li{
        background-color:#000;
        margin:100px;
        padding:40;
        height:50px;
        width:100%;
        border-radius:0;
        border-top:1px solid #FFF
    }
    }
@media (max-width:600px){
    .menu ul ul li{
        background-color:#000;
        border-top:1px solid #FFF
    }
    .menu ul ul li:last-child{
        background-color:#FFF;
        padding-bottom:25px
    }
    .nav-scroll-bar{
        height:200px;
        overflow-x:hidden;
        overflow-y:auto
   }
}